# Port du serveur (optionnel, défaut: 3000)
PORT=3000

# Email pour le formulaire de contact (avec Nodemailer)
# EMAIL_USER=votre@gmail.com
# EMAIL_PASS=votre_mot_de_passe_application_gmail

# Node environment
NODE_ENV=development
